.main-container{
  min-height: 79vh;
  .search-block{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .search-block_container{
    width: 30%;
    min-width: 160px;
    height: auto;
    background: rgba($color: #47c383, $alpha: 1);
    margin: 1.5vmin;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .search-input{
    width: 100%;
    height: inherit;
  }

  .boards-block{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmin 0;
  }
}
