<div class="main-container container-scroll">
  <button class="close" (click)="removeColumn()"><mat-icon>delete</mat-icon></button>
  <div class="column-container" >
    <form [formGroup]="columnForm" (submit)="confirmChangeTitle()">
    <div class="title-block" [class.titleInput]="inputShow">
      <p class="title" (click)="changeTitleMenu()" >{{column.title}}</p>
        <input class="title-input" type="text" value="{{column.title}}" formControlName="title">
        <button class="button_confirm" type="submit">
          <mat-icon>
            check
          </mat-icon>
        </button>
        <button class="button_reject" (click)="cancelChangeTitle()">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
    </div>
  </form>
    <div class="column-block">
      <div class="column-container_create">
        <button class="button_create" (click)="createTask()">
          <mat-icon>
            add
          </mat-icon>
          {{"ONE_BOARD.ADD_TASK" | translate}}
        </button>
      </div>
      <div class="column-container_tasks"
           cdkDropList
           [id]="'column-' + columnData.id"
           [cdkDropListConnectedTo]="columnData.otherColumn"
           [cdkDropListData]="columnData.tasks"
           (cdkDropListDropped)="dropTask($event)">
          <div class="task-item" *ngFor="let task of columnData.tasks || [] | search:searchString " cdkDrag>
            <app-task-item class="task"
              [task]="task"
              [boardId]="boardId"
              [columnId]="column.id">
            </app-task-item>
          </div>
      </div>
    </div>
  </div>
</div>
