<div appAddBoarderColor [borderColor]="color" class="main-container">
  <button class="close" (click)="removeColumn()"><mat-icon>delete</mat-icon></button>
  <div class="column-container" >
    <form [formGroup]="columnForm" (submit)="confirmChangeTitle()">
    <div class="title-block" [class.titleInput]="inputShow">
      <p class="title" (click)="changeTitleMenu()" >{{column.title}}</p>
        <input class="title-input" type="text" value="{{column.title}}" formControlName="title">
        <button class="button_confirm" type="submit">
          <mat-icon color="primary">
            check
          </mat-icon>
        </button>
        <button class="button_reject" (click)="cancelChangeTitle()">
          <mat-icon color="primary">
            cancel
          </mat-icon>
        </button>
    </div>
  </form>
    <div class="column-block">
      <div class="column-container_tasks">
          <ng-container *ngFor="let task of tasks || []">
            <app-task-item class="task"
              [task]="task"
              [boardId]="boardId"
              [columnId]="column.id">
            </app-task-item>
          </ng-container>
      </div>
      <div class="column-container_create">
        <button class="button_create" (click)="createTask()">
          <mat-icon color="primary">
            add
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
