<div class="wrapper">
  <p class="modal_headline">{{'CREATE_NEW_BOARD.ENTER_BOARD_NAME' | translate}}</p>
  <form class="title-form" [formGroup]="titleForm" (submit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'CREATE_NEW_BOARD.BOARD_TITLE' | translate}}</mat-label>
      <input matInput formControlName="title" placeholder="{{'CREATE_NEW_BOARD.BOARD_TITLE' | translate}}">
      <mat-error *ngIf="titleForm.get('title')?.hasError('required')">{{'CREATE_NEW_BOARD.ERROR' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'CREATE_NEW_BOARD.BOARD_TITLE' | translate}}</mat-label>
      <input matInput formControlName="description" placeholder="{{'CREATE_NEW_BOARD.BOARD_TITLE' | translate}}">
      <mat-error *ngIf="titleForm.get('description')?.hasError('required')">{{'CREATE_NEW_BOARD.ERROR' | translate}}</mat-error>
    </mat-form-field>
  </form>
  <div class="title-form_buttons">
    <button (click)="reject()" mat-raised-button color="accent">{{'CREATE_NEW_BOARD.CANCEL' | translate}}</button>
    <button (click)="confirm()" type="submit" [disabled]="titleForm.invalid" mat-raised-button color="primary">{{'CREATE_NEW_BOARD.CREATE' | translate}}</button>
  </div>
</div>
