<div class="wrapper">
  <p class="modal_headline">{{'COLUMN_FORM.ENTER_COLUMN_NAME' | translate}}</p>
  <form class="column-form" [formGroup]="columnForm" (submit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'COLUMN_FORM.COLUMN_TITLE' | translate}}</mat-label>
      <input matInput formControlName="title" placeholder="{{'COLUMN_FORM.COLUMN_TITLE' | translate}}">
      <mat-error *ngIf="columnForm.get('title')?.hasError('required')">{{'COLUMN_FORM.ERROR' | translate}}</mat-error>
    </mat-form-field>
  </form>
  <div class="column-form_buttons">
    <button (click)="reject()" mat-raised-button color="accent">{{'COLUMN_FORM.CANCEL' | translate}}</button>
    <button (click)="confirm()" type="submit" [disabled]="columnForm.invalid" mat-raised-button color="primary">{{'COLUMN_FORM.CREATE' | translate}}</button>
  </div>
</div>
