.auth{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 100%;
  justify-items : center;
  align-items: center;
}

@media (max-width: 768px){
  .auth_info{
    display: none;
  }
  .auth{
    grid-template-columns: 100% 0%;
  }
}


