<header class="header" (scroll)="onScroll()" [ngClass]="headerFixed?'fixed':'nofixed'">
  <div class="main-container">
    <div class="folder-lang-container">
      <button class="folder-icon" [ngStyle]="{'visibility': isLoggedIn ? 'visible' : 'hidden'}" mat-button color="primary" aria-label="create folder icon">
        {{'HEADER.CREATE' | translate}} <mat-icon >create_new_folder</mat-icon>
      </button>
      <mat-form-field>
        <mat-select placeholder="{{'LANGUAGES.PLACEHOLDER' | translate}}" >
          <mat-option #matOptionEng value="en" (click)="changeLang(matOptionEng.value)" >
            {{'LANGUAGES.EN' | translate}}
          </mat-option>
          <mat-option #matOptionRu value="ru" (click)="changeLang(matOptionRu.value)">
            {{'LANGUAGES.RU' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="auth-container">
      <div *ngIf="isLoggedIn" class="auth-container_user">
        <button mat-button (click)="createNewBoard()" color="warn" aria-label="icon edit" (click)="goToUser()">
          <mat-icon>edit</mat-icon>
        </button>
        <p class="title">{{ userName }}</p>
      </div>
      <div class="auth-container_buttons">
        <button class="button" mat-stroked-button color="primary" (click)="goToLogin()">
          log in
        </button>
        <button class="button" mat-raised-button color="primary" (click)="goToSignup()">
          sign up
        </button>
      </div>
    </div>
  </div>
</header>
