.main-container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 1vmin auto;

  .close{
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 2%;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover{
      transform: rotate(90deg);
    }
    &:active{
      transform: rotate(90deg) scale(0.8);
    }
  }
  .title-container{
    width: 80%;
  }
  .title{
    font-size: clamp(0.8rem, 1.2rem, 1.4rem);
    font-weight: 700;
    line-height: clamp(1.1rem, 1.6rem, 2.1rem);
    letter-spacing: 0.2rem;
  }
  .sub-title{
    font-size: clamp(0.8rem, 1.2rem, 1.4rem);
    font-weight: 300;
    line-height: clamp(1.1rem, 1.6rem, 2.1rem);
    color: rgba(57, 56, 60, 0.908);
    margin-left: 5%;
  }
}

