$black-text: #06152B;
$light-text:rgba(128, 159, 184, 1);
$main-bg: rgb(153, 178, 198);
$light-bg:#D9E1E7;

.main-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2vmin auto;
  // background-color: rgb(240, 249, 242);
  padding: 0 2%;

  .button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $main-bg;
    border-radius: 50%;
    border: 1px solid $main-bg;
    padding: 6%;
    margin: 0 1%;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .close{
    &:hover{
      box-shadow: 0 0 3px rgba(0,0,0,0.75);
      transform: rotate(90deg);
    }
    &:active{
      transform: rotate(90deg) scale(0.8);
    }
  }
  .edit{
    &:hover{
      box-shadow: 0 0 3px rgba(0,0,0,0.75);
    }
    &:active{
      transform: scale(0.8);
    }
  }

  .title-container{
    width: 75%;
    p{
      margin: 0;
    }
    .title{
      font-size: 1.1rem;
      font-weight: normal;
      line-height: 1.4rem;
      letter-spacing: 0.08rem;
      color: $black-text;
    }
    .sub-title{
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.3rem;
      color: $light-text;
      margin-left: 5%;
      padding-bottom: 1.5vmin;
    }
  }
}

