<section class="main-container colored-bg">
  <div class="one-board-container">
    <div class="back-container">
      <button mat-fab class="button_back" (click)="goToBoards()">
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>
    </div>
    <div class="board-container">
      <div class="title-block">
        <ng-container *ngIf="board">
          <p class="title">{{board.title}}</p>
        </ng-container>
      </div>
      <div class="board-block">
        <div class="board-container_create">
          <button class="button_create" (click)="createColumn()">
            <mat-icon color="primary">
              add
            </mat-icon>
          </button>
        </div>
        <div class="board-container_columns"
             cdkDropList cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="drop($event)">
          <ng-container *ngIf="board?.columns as columns">
            <div class="column-item" *ngFor="let column of columns; index as i" cdkDrag>
              <app-column-item
                [columnData]="getColumnData(i, column)"
                [column]="column"
                [color]="color"
                [boardId]="boardId"
                (dropTaskEvent)="dropTask($event)">
              </app-column-item>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
