.confirmation-form{
  width: 245px;
}
.confirmation-form_test{
  font-size: 1.1em;
  margin-bottom: 15px;
}

.confirmation-form_button{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}