<div class = "welcome colored-bg">
  <section class="welcome-project">
    <div class = "welcome_image-wrapper">
      <div class = "welcome_image-container">
        <img src="./assets/images/kanban.png" alt="">
      </div>
    </div>
    <div class = "welcome_info-container">
      <div class="welcome_info_text">
        <p class="big-title">{{'WELCOME.PROJ-NAME' | translate}}</p>
        <p class="title">{{'WELCOME.DESCRIPTION' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="welcome-team">
    <p class="big-title">{{'WELCOME.DEVELOPERS' | translate}}</p>
    <div class="cards">
      <mat-card class="item-card">
        <mat-card-title-group>
          <mat-card-title>{{'WELCOME.TEAM.SASHA.NAME' | translate}}</mat-card-title>
          <mat-card-subtitle>{{'WELCOME.TEAM.SASHA.ROLE' | translate}}</mat-card-subtitle>
        </mat-card-title-group>
          <div class="card-img-container">
            <img class="card-img" src="./assets/images/photos/sasha.jpg" >
          </div>
        <mat-card-content>
          {{'WELCOME.TEAM.SASHA.INPUT' | translate}}
        </mat-card-content>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title-group>
          <mat-card-title>{{'WELCOME.TEAM.GRIGIRII.NAME' | translate}}</mat-card-title>
          <mat-card-subtitle>{{'WELCOME.TEAM.GRIGIRII.ROLE' | translate}}</mat-card-subtitle>
        </mat-card-title-group>
        <div class="card-img-container">
          <img class="card-img" src="https://avatars.githubusercontent.com/u/86509140?v=4">
        </div>
        <mat-card-content>
          {{'WELCOME.TEAM.GRIGIRII.INPUT' | translate}}
        </mat-card-content>
      </mat-card>
      <mat-card class="item-card">
        <mat-card-title-group>
          <mat-card-title>{{'WELCOME.TEAM.ANDREY.NAME' | translate}}</mat-card-title>
          <mat-card-subtitle>{{'WELCOME.TEAM.ANDREY.ROLE' | translate}}</mat-card-subtitle>
        </mat-card-title-group>
        <div class="card-img-container">
          <img class="card-img" src="https://avatars.githubusercontent.com/u/36473307?v=4">
        </div>
        <mat-card-content>
          {{'WELCOME.TEAM.ANDREY.INPUT' | translate}}
        </mat-card-content>
      </mat-card>
    </div>

  </section>
</div>

