.main-container{
  width: 350px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
  margin: 3vmin;
  .title{
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-weight: 700;
    line-height: clamp(1.6rem, 2.1rem, 2.6rem);
    letter-spacing: 0.2rem;
  }
  .open{
    transition: all 0.2s linear;
  }
  .open:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
  }
  .open:active{
    box-shadow: 0 0 10px rgba(107, 104, 104, 0.75);
    transform: scale(0.95);
  }
  .close{
    position: absolute;
    right: 4%;
    top: 4%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 2%;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover{
      transform: rotate(-45deg) translate(6px, 2px);
    }
    &:active{
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape){
  .main-container{
    width: 320px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) and (orientation: portrait){
  .main-container{
    width: 280px;
    align-items: center;
    justify-content: center;
  }
}
